<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Festmények</title>
</head>
<body>
        <p style="text-align: center;">
           Súly: 
           <%= macskak.suly %> <br>
           Szem színe: 
           <%= macskak.szem_szin %>
        </p>
        <a href="/">Macskalista</a>
</body>
</html>
